<%= form_with(model: documentary_credit) do |form| %>
  <%= render "shared/error_messages", resource: form.object %>

  <div class="form-group">
    <%= form.label :lc_number %>
    <%= form.text_field :lc_number, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :issue_date %>
    <%= form.text_field :issue_date, class: "form-control", data: { controller: "flatpickr", flatpickr_date_format: "Y-m-d", flatpickr_min_date: Time.zone.now } %>
  </div>

  <div class="form-group">
    <%= form.label :expiry_date %>
    <%= form.text_field :expiry_date, class: "form-control", data: { controller: "flatpickr", flatpickr_date_format: "Y-m-d", flatpickr_min_date: Time.zone.now } %>
  </div>

  <div class="form-group">
    <%= form.label :currency %>
    <%= form.text_field :currency, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :lc_amount %>
    <%= form.text_field :lc_amount, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :applicant_name %>
    <%= form.text_field :applicant_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :applicant_address1 %>
    <%= form.text_field :applicant_address1, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :applicant_address2 %>
    <%= form.text_field :applicant_address2, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :applicant_address3 %>
    <%= form.text_field :applicant_address3, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :beneficiary_name %>
    <%= form.text_field :beneficiary_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :beneficiary_address1 %>
    <%= form.text_field :beneficiary_address1, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :beneficiary_address2 %>
    <%= form.text_field :beneficiary_address2, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :beneficiary_address3 %>
    <%= form.text_field :beneficiary_address3, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :issuing_bank_name %>
    <%= form.text_field :issuing_bank_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :issuing_bank_address1 %>
    <%= form.text_field :issuing_bank_address1, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :issuing_bank_address2 %>
    <%= form.text_field :issuing_bank_address2, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :issuing_bank_address3 %>
    <%= form.text_field :issuing_bank_address3, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :tenor %>
    <%= form.text_field :tenor, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :shipment_from %>
    <%= form.text_field :shipment_from, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :port_of_loading %>
    <%= form.text_field :port_of_loading, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :port_of_discharge %>
    <%= form.text_field :port_of_discharge, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :final_destination %>
    <%= form.text_field :final_destination, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :latest_shipment_date %>
    <%= form.text_field :latest_shipment_date, class: "form-control", data: { controller: "flatpickr", flatpickr_date_format: "Y-m-d", flatpickr_min_date: Time.zone.now } %>
  </div>

  <div class="form-group">
    <%= form.label :partial_shipment %>
    <%= form.text_field :partial_shipment, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :transhipment %>
    <%= form.text_field :transhipment, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :goods_description %>
    <%= form.text_area :goods_description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :documents_required %>
    <%= form.text_area :documents_required, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :additional_conditions %>
    <%= form.text_area :additional_conditions, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :drawee %>
    <%= form.text_area :drawee, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :available_with %>
    <%= form.text_area :available_with, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :available_by %>
    <%= form.text_field :available_by, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :remarks %>
    <%= form.text_area :remarks, class: "form-control" %>
  </div>

  <div class="form-group flex justify-between">
    <%= form.button class: "btn btn-primary" %>

    <% if form.object.persisted? %>
      <%= link_to 'Delete', form.object, class: "btn btn-danger outline", method: :delete, data: { remote: true, confirm: "Are you sure?" } %>
    <% end %>
  </div>
<% end %>
