<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="h3">Documentary Credits</h1>

    <% if @documentary_credits.exists? %>
      <%= link_to 'New Documentary Credit', new_documentary_credit_path, class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if @documentary_credits.exists? %>
    <div class="bg-white rounded shadow table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Lc number</th>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Issue date</th>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Expiry date</th>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Currency</th>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Lc amount</th>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Applicant name</th>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Beneficiary name</th>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Issuing bank name</th>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Latest shipment date</th>
          </tr>
        </thead>

        <tbody>
        <% @documentary_credits.each do |documentary_credit| %>
          <tr class="group border-t border-gray-400 hover:bg-gray-100">
                      <td class="p-3"><%= documentary_credit.lc_number %></td>
                      <td class="p-3"><%= documentary_credit.issue_date %></td>
                      <td class="p-3"><%= documentary_credit.expiry_date %></td>
                      <td class="p-3"><%= documentary_credit.currency %></td>
                      <td class="p-3"><%= documentary_credit.lc_amount %></td>
                      <td class="p-3"><%= documentary_credit.applicant_name %></td>
                      <td class="p-3"><%= documentary_credit.beneficiary_name %></td>
                      <td class="p-3"><%= documentary_credit.issuing_bank_name %></td>
                      <td class="p-3"><%= documentary_credit.latest_shipment_date %></td>
            <td>
              <%= link_to "View", documentary_credit, class: "btn btn-link no-underline" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <% if @pagy.pages > 1 %>
      <div class="text-center my-6">
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>

  <% else %>
    <div class="bg-white rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="h3 mb-4">Create your first Documentary Credit</p>
        <%= link_to 'New Documentary Credit', new_documentary_credit_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
